/*

https://www.codinglabweb.com/2020/12/login-form-with-floating-label.html

*/

/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
html, body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}  */
/*  추가 */
.auth {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: rgb(247, 247, 247);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auth ::selection {
  background: #4158d0;
  color: #fff;
}
.auth .wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.auth .wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #f48840;
}
.auth .wrapper form {
  padding: 10px 30px 50px 30px;
}
.auth .wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.auth .wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
/* 수정 form .field input:valid  -> .auth .wrapper form .field input:valid */
.auth .wrapper form .field input:focus,
.auth .wrapper form .field input:valid {
  border-color: #4158d0;
}
.auth .wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.auth form .field input:focus ~ label,
.auth form .field input:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
.auth form .content {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
.auth form .content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth form .content input {
  width: 15px;
  height: 15px;
  background: red;
}
.auth form .content label {
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
.auth form .content .pass-link {
  color: "";
}
.auth form .field input[type="submit"] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #f48840;
  transition: all 0.3s ease;
}
.auth form .field input[type="submit"]:active {
  transform: scale(0.95);
}
.auth form .link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
.auth form .link a,
.auth form .link a {
  color: #4158d0;
  text-decoration: none;
}
.auth form .link a:hover,
.auth form .link a:hover {
  text-decoration: underline;
}
.auth form p.hint {
  color: #4158d0;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
}
